<aside class="hidden settings">
    <a href="#" id="logoutBtn" class="for-logged">Logout</a>
    <a href="/update-profile" class="for-logged">Update Username</a>
    <a href="/login" class="for-not-logged">Login</a>
</aside>

<script src="/js/settings.js" defer></script>