<aside class="hidden settings">
    <li><a href="#" id="logoutBtn">Logout</a></li>
    <li><a href="/login" class="login-btn">Login</a></li>
    <li><a href="/update-profile">Update Username</a></li>
</aside>

<script src="/js/settings.js" defer></script>