 <div class="login-container">
        <div class="login-box">


            <div id="usernameForm" class="form-section">
                <h1>Update Username</h1>
                <form id="usernameFormElement">
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder=" " required>
                        <label for="username">Username</label>
                    </div>
                    <p class="form-message" id="usernameMessage"></p>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

            </div>

        </div>
        
    </div>