* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

:root {
    --google-blue: #1a73e8;
    --google-gray: #70757a;
    --google-border: #e3e5e8;
    --error-red: #d93025;
}
