.components {
    height: calc(100% - 4rem);
    width: 100%;
    display: flex;
    /* position: fixed; */
    right: 0;
    bottom: 0;
  
}

.products {
    flex-grow: 1;
    height: 100%;
}

.others {
    width: 280px;
    height: 100%;
    border-left: 1px solid var(--border-color);
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 4rem;
    z-index: 5;
}

.hidden {
    display: none;
}

.settings a {
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 16px;
}


.settings a:hover {
    text-decoration: underline;
}