<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/generic.css">
      <link rel="stylesheet" href="/css/createProduct.css">
</head>

<body>
    <h1>this is crate product page

    </h1>

    <script src="/js/createProduct.js" defer></script>

</body>

</html>